.div1 {
  position: relative;
}

.div2 {
  width: 400px;
  height: 500px;
  background-color: antiquewhite;
  margin: 200px;
  padding: 60px;
  text-align: center;
  position: absolute;
  top: 250px;
  right: 300px;
  border-radius: 10%;
}

.round {
  border-radius: 10%;
}
